*.iml
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.iml
libs/*
/.idea/*
*.class
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/libs/
.idea/modules.xml
/libs/*
/.idea/
.idea/*

